commands:
  extract-p2f-auth-server-self-signed-certificate:
    command: openssl s_client -connect p2f-auth-server-test2.ap-southeast-2.elasticbeanstalk.com:443 > p2f-auth-server_cert.pem
    cwd: /home/ec2-user
    
  delete-cert-from-java-truststore:
    command: /usr/lib/jvm/jre/bin/keytool -delete -alias p2f-auth-server -storepass changeit -noprompt -keystore /usr/lib/jvm/jre/lib/security/cacerts || true
    cwd: /home/ec2-user

  import-cert-to-java-truststore:
    command: /usr/lib/jvm/jre/bin/keytool -import -alias p2f-auth-server -storepass changeit -noprompt -keystore /usr/lib/jvm/jre/lib/security/cacerts -file p2f-auth-server_cert.pem
    cwd: /home/ec2-user
    
  update-ssl:
    command: sudo yum install mod24_ssl.x86_64
    cwd: /home/ec2-user    