packages:
  yum:
    mod24_ssl : []

container_commands:
  1killhttpd:
    command: "killall httpd"
    ignoreErrors: true
  2wait:
    command: "sleep 3"

Resources:
  # Use instance profile to authenticate to S3 bucket that contains the private key
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-ap-southeast-2-440563906907"]
          roleName: "aws-elasticbeanstalk-ec2-role"

files:
  # Apache HTTPS configuration
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        <Proxy *>
          Order deny,allow
          Allow from all
        </Proxy>

        SSLEngine             on
        SSLCertificateFile    "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        SSLCipherSuite        EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
        SSLProtocol           All -SSLv2 -SSLv3
        SSLHonorCipherOrder   On
        
        Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
        Header always set X-Frame-Options DENY
        Header always set X-Content-Type-Options nosniff
        
        ProxyPass / http://localhost:8080/ retry=0
        ProxyPassReverse / http://localhost:8080/
        ProxyPreserveHost on
      </VirtualHost>

  # Public certificate
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDhjCCAm4CCQCyvG+CIR3SaDANBgkqhkiG9w0BAQsFADCBhDELMAkGA1UEBhMC
      QVUxEzARBgNVBAgMClF1ZWVuc2xhbmQxETAPBgNVBAcMCEJyaXNiYW5lMREwDwYD
      VQQKDAhQYXkyZnVlbDE6MDgGA1UEAwwxcDJmLXdlYi10ZXN0Mi5hcC1zb3V0aGVh
      c3QtMi5lbGFzdGljYmVhbnN0YWxrLmNvbTAeFw0xODA2MjQwMjI1MzBaFw0xOTA2
      MjQwMjI1MzBaMIGEMQswCQYDVQQGEwJBVTETMBEGA1UECAwKUXVlZW5zbGFuZDER
      MA8GA1UEBwwIQnJpc2JhbmUxETAPBgNVBAoMCFBheTJmdWVsMTowOAYDVQQDDDFw
      MmYtd2ViLXRlc3QyLmFwLXNvdXRoZWFzdC0yLmVsYXN0aWNiZWFuc3RhbGsuY29t
      MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA7U9JHtxs6b5djAkeVEL3
      eg0htk/b13ZFIYyKfejK0uSvZ1WNP0lhkSnWBZkIkyeFEnZKCR7jsdmbGJ/niP8O
      QTKo+wVCS2ag3OdfuUU3wTYrHrZh9JD9x5qCqs1CQZk/eMmZ++bSNrlMnpMPlOFf
      gxd9YbUpJeNUpuPsoYRYQ6Rzu7Edqhd/VKemXXjl63WagYLbBCFpvGxDmd5m/iys
      0IIp4F9pwzVQ6w+TO0b6gheXYlp6HEQA39guLUtVYhZaxuzDVfJGxwyM/loqyeGp
      ExVF+q3g3X76j9ZHuha5QBy+oKw9Gid/i5/bFLVEYy20uIYiG8yC+FtntdVHI24z
      hQIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQBHyMhHDJrIoaQfNctvwK9baMrRUEIU
      FoPTHtC9FNvNgQTTESf8VINxiLNUriiCeTPX3QuaM+X0o1+ePx5AZae+/LI6vCIk
      7DbgRJivuAFB+BLphzCuMWX9aCOn5xCPRhwl1gVRa3+Sehjt4ajCMjOq6Jm+6d01
      LD7hKsic6VlZyjF8lX5SwrJhpizyzdXLzqt3m2IfsvJVA5cE0ymlastLjh5xxsrc
      viK8k8AdqZ8epaVX2kS9/Jjoe2MNEZzKeF5gtzSxWoKKLN6vwVfgu9DkNYraQo2W
      XG1/3dnV6OOiz9bx9ckQmwreW7TzqTcHqAbqvh+m+aDCdSioWqB465DB
      -----END CERTIFICATE-----

  # Private key
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-ap-southeast-2.amazonaws.com/elasticbeanstalk-ap-southeast-2-440563906907/pay2fuel-server.key
