packages:
  yum:
    mod24_ssl : []

container_commands:
  1killhttpd:
    command: "killall httpd"
    ignoreErrors: true
  2wait:
    command: "sleep 3"

Resources:
  # Use instance profile to authenticate to S3 bucket that contains the private key
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-ap-southeast-2-440563906907"]
          roleName: "aws-elasticbeanstalk-ec2-role"

files:
  # Apache HTTPS configuration
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so
      Listen 443
      <VirtualHost *:443>
        <Proxy *>
          Require all granted
        </Proxy>

        SSLEngine             on
        SSLCertificateFile    "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        SSLCipherSuite        EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH
        SSLProtocol           All -SSLv2 -SSLv3
        SSLHonorCipherOrder   On
        
        Header always set Strict-Transport-Security "max-age=63072000; includeSubdomains; preload"
        Header always set X-Frame-Options DENY
        Header always set X-Content-Type-Options nosniff
        
        ProxyPass / http://localhost:8080/ retry=0
        ProxyPassReverse / http://localhost:8080/
        ProxyPreserveHost on
      </VirtualHost>

  # Public certificate
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDljCCAn4CCQCtN5ll4OoeOjANBgkqhkiG9w0BAQsFADCBjDELMAkGA1UEBhMC
      QVUxEzARBgNVBAgMClF1ZWVuc2xhbmQxETAPBgNVBAcMCEJyaXNiYW5lMREwDwYD
      VQQKDAhQYXkyZnVlbDFCMEAGA1UEAww5cDJmLWF1dGgtc2VydmVyLXRlc3QyLmFw
      LXNvdXRoZWFzdC0yLmVsYXN0aWNiZWFuc3RhbGsuY29tMB4XDTE4MDYyNDAzMTU1
      OVoXDTE5MDYyNDAzMTU1OVowgYwxCzAJBgNVBAYTAkFVMRMwEQYDVQQIDApRdWVl
      bnNsYW5kMREwDwYDVQQHDAhCcmlzYmFuZTERMA8GA1UECgwIUGF5MmZ1ZWwxQjBA
      BgNVBAMMOXAyZi1hdXRoLXNlcnZlci10ZXN0Mi5hcC1zb3V0aGVhc3QtMi5lbGFz
      dGljYmVhbnN0YWxrLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEB
      AN8K7rjbn9RPQYd3afDlDxJxI+zWI7tzdbpz3IpJCpghICkekImWCgQRaIO2HACp
      wNb53HYFCfCg8JH0AqnJ7tJXyENWxUzbbo269904hhPk41JydWsoHY4JVyvwz0xV
      Wtb5uuYBO03VQBjZMxFAD4XfDRtAbGtzP16MEYn9btpo4hQRINWzy/GkDTTJqLk6
      ynQybQRIFv7R6qGKX56S8qA7Lq4yk9ylCOi1Tl3OnfPRvojOqRQbcMk87qWwIdZX
      Xh1EhV5Xm0CP2YdsPvBZPnDizwd6L+92cb6xx9FEg+FxQdCFWgDXCCgfJa41QBWu
      dxvGdzbbS8UmlAlaYNj1lrUCAwEAATANBgkqhkiG9w0BAQsFAAOCAQEAmvM3uqjI
      YyhFUpFC5IbLnXPnTMq80hS0NE+fy3tn0rMxi9KCCpFNMPTYphxRuHj59IpJRvqI
      Qr6FvrPBjDdrfqYLCeulHE54+IpE1wkXNGszVbv70h6Wb/qyO4r4y68fGN4gxnLf
      YuNjPOUie47UMKE48IakcNfkv0e+qkxA6KP2YNNO649yHUKGXD3bHdH8kAzXzbJb
      eqHvPKy0Lq9LZ+84zKCMRysvb426ICQArgngJgF9cRW9HRASKcmxUEv8yFLVDkEJ
      siMpI/R+g06LhKRzUwkRd/0HIf3sgVKnWZ7KubNQd2LmEdzG5GBWjsWSqN/UZhIo
      Mdm/+WzdLT4e0A==
      -----END CERTIFICATE-----


  # Private key
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://s3-ap-southeast-2.amazonaws.com/elasticbeanstalk-ap-southeast-2-440563906907/pay2fuel-2-server.key
